.item{
    position: relative;
    display: inline-block;
    vertical-align: top; 
    width: 220px;
    height: 350px;
    padding: 10px;
}
.item:hover{
    background-image: linear-gradient(to right, #f2efe8, white, #f2efe8);
    border-radius: 5px;
}

.image{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 180px;
    height: 180px;
}
.bot{
    position: absolute;
    bottom: 0;
    left: 0;
}